@using BankingApp.Pages.Common.Extensions
@model BankingApp.Pages.Client.TransactionPage;

<body>
    @Html.Editor(m => m.Item.SenderName)
    @Html.Editor(m => m.Item.RecipientName)
    @Html.Editor(m => m.Item.Note)
    @Html.Editor(m => m.Item.MoneyAmount)
</body>
