@page
@using BankingApp.Pages.Common.Aids
@using BankingApp.Pages.Common.Consts
@using BankingApp.Pages.Common.Extensions
@model BankingApp.Pages.Misc.CustomersClientPage;

@{
    Layout = "_Index";
}

@section Create {
    @Html.Link(string.Empty, new Link(Captions.Create, Model.CreateUrl))
}

@Html.ShowTable(Model)
<div align='center'>
    <img src="~/Images/money.png" alt="logo header" width="700" height="700"><br />
</div>
