@using BankingApp.Pages.Common.Extensions
@model BankingApp.Pages.Loan.LoanAccountManagerPage;

<body>
    @Html.Editor(m => m.Item.AccountNickname)
    @Html.Editor(m => m.Item.CustomerId)
    @Html.Editor(m => m.Item.AccountLocation)
    @Html.Editor(m => m.Item.MoneyAmount)

</body>