@using BankingApp.Pages.Common.Extensions
@model BankingApp.Pages.Loan.LoanAccountManagerPage;


<body>
    @Html.Editor(m => m.Item.AccountOwnerName)
    @Html.Editor(m => m.Item.AccountAddress)
    @Html.Editor(m => m.Item.AccountLocation)
    @Html.Editor(m => m.Item.MoneyAmount)

<script>
    function generateAccountAddress() {

        var txt = "EE" + generateNumbers(16);
        document.getElementById("result").value = txt;
    }
</script>

<input type="button" value="Click to generate account address" onclick="generateAccountAddress()">
<input type="text" id="result" size="30">

</body>