@page
@model Pages.CalculatorModel
@using Core.Extensions;
@{ 

}


@*@Html.Select(model => model.calculatorViewModel.YieldId,
     Model.YieldTypes, "-- Select Type --", "Yield Type")*@

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="calculatorViewModel.TimeInMonths">Time period</label>
        <input asp-for="calculatorViewModel.TimeInMonths" /> months
    </div>
    <div>
        <label asp-for="calculatorViewModel.Amount"></label>
        <input asp-for="calculatorViewModel.Amount" /> eur
    </div>
    <br />
    <div class="form-group">
        @Html.Select(model => model.calculatorViewModel.YieldId,
     Model.YieldTypes, "-- Select Type --", "Yield Type")
        <input type="submit" asp-page-handler="Calculate"   value="Calculate" />
    </div>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.calculatorViewModel.Result)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayFor(model => model.calculatorViewModel.Result)
    </dt>


</form>

<a asp-page="Create">Create New</a>
</p>