@using BankingApp.Pages.Common.Extensions;
@model BankingApp.Pages.Investing.CryptoBasketsManagerPage;

<body>
    @*@Html.Editor(m => m.Item.Id)
    @Html.DropDown(m => m.Item.Id, Model.)
    @Html.Editor(m => m.Item.From)
    @Html.Editor(m => m.Item.To)*@
</body>
