@page
@using BankingApp.Pages.Common.Extensions
@using BankingApp.Pages.Common.Aids
@model BankingApp.Pages.Investing.CryptoBasketsClientPage;

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

@section Create {
}
<body>
    <table class="table">
        <thead>
            @Html.Header(
                new Link(Html.DisplayNameFor(m => m.Item.CustomerName), "Index"),
                new Link(Html.DisplayNameFor(m => m.Item.TotalPrice), "Index"),
                new Link(Html.DisplayNameFor(m => m.Item.Closed), "Index")
                )

        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var buttons = new RowButtons
                {
                    Select = (item.Closed) ? null : "Osta",
                    Delete = "Kustuta",
                    Edit = null,
                    Details = (item.Closed) ? "Vaata" : "Muuda"
                };
                <tr>
                    @Html.Row(
                        buttons,
                        page,
                        item.GetId(),
                        Model.SortOrder,
                        Model.SearchString,
                        Model.PageIndex,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.CustomerName),
                        Html.DisplayFor(modelItem => item.TotalPrice),
                        Html.DisplayFor(modelItem => item.Closed)
                        )
                </tr>
            }
        </tbody>
    </table>
</body>