@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">kristjan ti cho natvoril</h1>
    <p>calculator ne rabotaet nihrena teper</a></p>
</div>
